/* Path: styles/styles.css */


body {

}

.wrapper {
    position: relative;
    margin: 0px;
    padding: 0px;
}

header {
    position: fixed;
    min-height: 60px;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 20px;
    margin: 0px;
    display: flex;
    align-items: center;
    background-color: orange;
}

footer {
  position: fixed;
  height: 50px;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: orange;
}


.social-icons {
  padding-left: 460px;
  padding-right: 460px;
  font-size: 2rem;
  font-color: black;
  float: ;
  width: 100%;
}

.social-icons:hover {
  font-weight: bold;  
}

#home-btn {
    align-items: left;
    width: 50px;
    height: auto;
}

nav > ul {
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 10%;
  }
  

li {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
  }

  .nav-link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
  }

  /* makes links bold on hover */

  .nav-link:hover {
    font-weight: bold;  
  }


  .title {
    margin-top: 125px;
  }


  h1 {
    margin-top: 100px;
  }

  
  /*making paragraphs not go past 50% to insert images on the right side*/ 
  p{
    max-width: 50%;
  }


  .content-left30 {
    max-width: 30%;
    justify-content: left;
    text-align: left;
    flex-direction: column;

  }

  .content-left70 {
    max-width: 70%;
    justify-content: left;
    text-align: left;
    flex-direction: column;
  }
  

  .content-right30 {
    width: 30%;
    justify-content: right;
    text-align: right;
    flex-direction: column;
  }

  .content-right70 {
    width: 70%;
    justify-content: right;
    text-align: right;
    flex-direction: column;
  }
