/* Path: styles/styles.css */
.wrapper {
    position: relative;
    margin: 0px;
    padding: 0px;
}

header {
    position: fixed;
    min-height: 60px;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 20px;
    margin: 0px;
    display: flex;
    align-items: center;
    background-color: orange;
}

#home-btn {
    align-items: left;
    width: 50px;
    height: auto;
}

nav > ul {
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 10%;
  }
  

li {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
  }

  .nav-link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
  }

  /* makes links bold on hover */
  .nav-link:hover {
    font-weight: bold;  
  }

  .title {
    margin-top: 125px;
  }

  /*making paragraphs not go past 50% to insert images on the right side*/ 
  p{
    max-width: 50%;
  }