/* Path: styles/styles.css */


body {
    margin-top: 75px;
    margin-bottom: 80px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    /*max-width: 100vh;*/
    background-color: bisque;
    display: block;
            margin-left: auto;
            margin-right: auto;
    }


  header {
    position: fixed;
    height: 50px;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    background-color: orange;
    z-index: 99;
  }

  footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: orange;
    z-index: 99;
  }

  .social-icons {
    padding-left: 460px;
    padding-right: 460px;
    font-size: 2rem;
    color: black;
    width: 100%;
  }

  #icons:hover {
    font-weight: bold;
    text-shadow: 0 0 4px #c05243;
  }

  #home-btn {
    justify-content: flex-start;
    width: 50px;
    height: auto;
  }

  nav > ul {
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 10%;
  }

  li {
    list-style: none;
  }

  a {
    color: #000;
    text-decoration: none;
  }

  .nav-link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bolder;
  }

  /* makes links bold on hover */

  .nav-link:hover {
    font-weight: bold;
    text-shadow: 0 0 4px #c05243;
}


  .title {
    margin-top: 125px;
  }


<<<<<<< Updated upstream
  /*h1 {
    margin-top: 100px;
  }*/
  
  /* CSS from History Below */

=======
  
  /* CSS from History Below */


  /*making paragraphs not go past 50% to insert images on the right side*/ 

>>>>>>> Stashed changes
  p{
    margin-left: 2%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    border: 2px solid;
    padding: 0.5em;
    line-height: 1.5em;
    }

p2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin-top: 30px;
  padding: 0.5em;
  line-height: 1.5em;
  text-align:
}    

h1{
    color: chocolate;
    text-align: center;
    font-size: 4em;
    font-family:Arial, Helvetica, sans-serif
    margin-top: 100px;
}

h2{
    color:black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    }

  /* CSS from History Above */

.index-img {
    width: 47%;
    height: auto;
    padding: 0;
    margin-left: 2%;
  }

.index-img:hover {
  filter: grayscale(100%);
  }

.footer-NBA { 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    margin: auto;
}


  /* 

  .content-left30 {
    max-width: 30%;
    justify-content: left;
    text-align: left;
    flex-direction: column;

  }

  .content-left70 {
    max-width: 70%;
    justify-content: left;
    text-align: left;
    flex-direction: column;
  }
  

  .content-right30 {
    width: 30%;
    justify-content: right;
    text-align: right;
    flex-direction: column;
  }

  .content-right70 {
    width: 70%;
    justify-content: right;
    text-align: right;
    flex-direction: column;
  }
  
  */